* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img,
iframe,
input,
a {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  width: 92%;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  z-index: 50;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 0 1px 5px #8e9aaf;
  height: 10%;
}
header h1 {
  font-size: 0;
}
header .inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logo img {
  width: 245px;
  height: 30px;
}
header #gnb #hamburger {
  display: none;
}
header #gnb ul {
  display: flex;
  gap: 20px;
}
header #gnb li {
  position: relative;
  margin: 0 10px;
  font-weight: bold;
}
header #gnb .sub {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: none;
  z-index: 100;
  flex-direction: column;
  min-width: 150px;
  background: #8e9aaf;
  opacity: 0.8;
  border-radius: 12px;
  transition: all 0.3s;
}
header #gnb .sub li {
  margin: 5px 0px;
  padding: 10px 10px;
  opacity: 1;
}
header #gnb > ul > li:hover ul.sub {
  display: block;
  transition: all 0.5s;
}
header #gnb > ul > li ul.sub > li:hover {
  color: #0052ff;
  background: #fff;
  transition: all 0.5s;
}

#main_view {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#main_view .main_bg {
  height: 100%;
}
#main_view .main_bg img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
#main_view .main_icon {
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 80%;
  transform: translate(-50%, 0%);
  width: 100%;
}
#main_view .main_icon .wheel {
  display: flex;
  justify-content: center;
}
#main_view .main_icon .wheel li {
  width: min(200px, 14%);
}
#main_view .main_icon .wheel img {
  width: 100%;
}
#main_view .main_contens {
  position: absolute;
  margin: 0 auto;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: min(40px, 2vw);
  color: #fff;
}
#main_view .main_contens h2 {
  text-shadow: 0 2px 20px #000;
}
#main_view .main_contens h2 p {
  text-shadow: 0 2px 10px #0052ff;
  color: #0052ff;
}

.main_contens2 {
  font-size: min(30px, 3vw);
  text-align: center;
  margin-top: 300px;
  color: #8e9aaf;
  font-weight: bold;
}

#c1 {
  margin-top: 700px;
  justify-content: space-between;
  align-items: center;
}
#c1 .c1_caption {
  margin-bottom: 50px;
}
#c1 .c1_caption h3 {
  color: #0052ff;
  font-size: min(30px, 3vw);
  font-weight: bold;
}
#c1 .c1_caption p {
  color: #000;
  font-size: min(20px, 2vw);
  font-weight: bold;
}
#c1 .c1_conbox {
  display: flex;
  gap: 5%;
}
#c1 .c1_conbox img {
  box-shadow: 0 11px 5px #8e9aaf;
}
#c1 .c1_conbox ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 35px;
  font-weight: bold;
  font-size: min(35px, 2vw);
  width: 30%;
}
#c1 .c1_conbox span {
  color: #0052ff;
  font-weight: bold;
  font-size: min(35px, 2vw);
}
#c1 .c1_conbox ul:nth-child(1),
#c1 .c1_conbox ul:nth-child(3) {
  align-items: center;
}
#c1 .c1_conbox ul:nth-child(1) img,
#c1 .c1_conbox ul:nth-child(3) img {
  width: 100%;
}
#c1 .c1_conbox ul:nth-child(2) img {
  width: 100%;
}

.c1_bgbox {
  position: absolute;
  background-color: #8e9aaf;
  width: 100%;
  height: 650px;
  opacity: 0.3;
  z-index: -1;
  left: 0;
}

#c2 {
  margin-top: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#c2 .c2_caption h3 {
  color: #0052ff;
  font-size: min(40px, 3vw);
  font-weight: bold;
}
#c2 .c2_caption p {
  color: #000;
  font-size: min(20px, 2vw);
  font-weight: bold;
}
#c2 .c2_img {
  width: 192px;
  gap: 160px;
  margin: 0 200px 0 0;
}
#c2 .c2_img img {
  height: 400px;
}

#c3 {
  margin-top: 300px;
}
#c3 .c3_caption {
  margin-bottom: min(100px, 7vw);
}
#c3 .c3_caption h3 {
  color: #0052ff;
  font-size: min(40px, 3vw);
  font-weight: bold;
}
#c3 .c3_caption p {
  color: #000;
  font-size: min(20px, 2vw);
  font-weight: bold;
}
#c3 .c3_icon ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: min(20px, 2vw);
  font-weight: bold;
}
#c3 .c3_icon img {
  width: 100%;
  max-width: 300px;
}

.c3_bgbox {
  position: absolute;
  background-color: #0052ff;
  width: 100%;
  height: min(400px, 28.5vw);
  opacity: 0.5;
  z-index: -1;
  left: 0;
}

.c3_endcaption {
  margin-top: 77px;
  font-weight: bold;
  font-size: min(20px, 2vw);
  color: #8e9aaf;
  text-align: center;
}

#c4 {
  margin-top: 300px;
  position: relative;
  flex-direction: column;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
}
#c4 svg {
  width: 300px;
}
#c4 .cls-1 {
  fill: none;
  stroke: #8e9aaf;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 20.7px;
}
#c4 .finger_1 {
  width: 100%;
  opacity: 0.5;
}
#c4 .finger_2 {
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 0.5;
}
#c4 .finger_2 .cls-1 {
  stroke: #0052ff;
}
#c4 span {
  position: relative;
  color: #0052ff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
#c4 .f_caption {
  position: absolute;
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  align-content: center;
}

#c5 {
  margin-top: 400px;
}
#c5 .c5_caption h3 {
  color: #0052ff;
  font-size: min(40px, 3vw);
  font-weight: bold;
}
#c5 .c5_caption p {
  font-weight: bold;
  font-size: min(20px, 2vw);
}
#c5 .c5_icon {
  margin-top: 100px;
}
#c5 .c5_icon ul {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
#c5 .c5_icon li {
  box-shadow: 0 5px 10px #8e9aaf;
  position: relative;
}
#c5 .c5_icon li:hover p {
  opacity: 1;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.5s;
  font-weight: bold;
}
#c5 .c5_icon li:hover {
  border-radius: 12px;
}
#c5 .c5_icon img {
  width: 100%;
}
#c5 .c5_icon p {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: #0052ff;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: min(40px, 2vw);
  color: #fff;
}

footer {
  margin-top: 200px;
  background: #8e9aaf;
  width: 100%;
  height: 250px;
  font-size: min(20px, 2vw);
}

footer .inner {
  height: 100%;
  margin: 0 auto;
}

.ft_inner {
  height: 100%;
  display: flex;
  align-items: center;
}

.ft_inner p {
  margin: 0;
}

@media (max-width: 1024px) {
  #c2 .c2_img {
    margin: 0;
  }
  header h1 {
    font-size: 0px;
  }
  #hamburger {
    display: block !important;
    width: 30px;
    height: 25px;
    cursor: pointer;
    position: relative;
    z-index: 1000;
  }
  #hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background: #8e9aaf;
    margin-bottom: 5px;
  }
  #gnb > ul {
    display: none !important;
    position: absolute;
    top: 80px;
    right: 0;
    min-width: 250px;
    background: #8e9aaf;
    flex-direction: column;
    padding: 0;
    z-index: 999;
    gap: 20px;
    border-radius: 12px;
    text-align: center;
    padding: 20px 0;
  }
  #gnb > ul:hover > li:hover {
    color: #0052ff;
    background: #fff;
    transition: all 0.5s;
  }
  #gnb.on > ul {
    display: block !important;
  }
  #gnb > ul > li {
    text-align: center;
    position: relative;
    display: block;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }
  .sub {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(calc(-100% - 10px));
    width: auto;
    min-width: 120px;
    background: #fff;
    border: 1px solid #ddd;
    z-index: 1005;
  }
  .sub.active {
    display: block !important;
  }
}/*# sourceMappingURL=style.css.map */