* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img,
iframe,
input,
a {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

.inner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}

//공통 적용 끝


header {
    position: fixed;
    width: 100%;
    z-index: 50;

    .inner {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo img {
        width: 245px;
        height: 30px;
    }

    #gnb {
        ul {
            display: flex;
            gap: 20px;
        }

        li {
            position: relative;
            margin: 0 10px;
            font-weight: bold;
        }

        .sub {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            display: none;
            z-index: 100;
            flex-direction: column;
            min-width: 150px;
            background: #8e9aaf;
            opacity: 0.8;
            border-radius: 12px;
            transition: all 0.3s;

            li {
                margin: 5px 0px;
                padding: 10px 10px;
                opacity: 1;

            }
        }
    }

    #gnb>ul>li:hover ul.sub {
        display: block;
        transition: all 0.5s;

    }

    #gnb>ul>li ul.sub>li:hover {
        color: #0052ff;
        background: #fff;
        transition: all 0.5s;

    }
}



//헤더끝

#main_view {

    height: 100vh;
    position: relative;
    overflow: hidden;

    .main_bg {
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            opacity: 0.6;

        }
    }


    .main_icon {
        position: absolute;
        z-index: 99;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 0%);
        border: 1px solid #000;


        .wheel {
            display: flex;
            justify-content: center;

            img {
                width: 300px;
            }
        }

    }


    .main_contens {
        position: absolute;
        margin: 0 auto;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
}

.main_contens2 {
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
    color: #8e9aaf;
    font-weight: bold;
}

//메인뷰 끝


#c1 {
    margin-top: 300px;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .c1_caption {
        margin-bottom: 50px;

        h3 {
            color: #0052ff;
            font-size: 40px;
            font-weight: bold;
        }

        p {
            color: #000;
            font-size: 20px;
            font-weight: bold;
        }
    }


    .c1_conbox {
        display: flex;

        img {
            box-shadow: 0 11px 5px #8e9aaf;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 35px;
            font-weight: bold;
            font-size: 35px;
        }

        span {
            color: #0052ff;
            font-weight: bold;
            font-size: 35px;
        }
    }


    .c1_conbox ul:nth-child(1),
    .c1_conbox ul:nth-child(3) {
        align-items: center;

        img {
            width: 400px;
            height: 600px;
        }

    }

    .c1_conbox ul:nth-child(1) {
        margin-right: 25px;
    }

    .c1_conbox ul:nth-child(2) {
        img {
            margin: 0 25px;
            width: 500px;
            height: 750px;
        }
    }

    .c1_conbox ul:nth-child(3) {
        margin-left: 25px;
    }
}

.c1_bgbox {
    position: absolute;
    background-color: #8e9aaf;
    width: 100%;
    height: 650px;
    opacity: 0.3;
    z-index: -1;
    left: 0;
    transform: translateY(-115.5%);
}


//c1 끝


#c2 {
    margin-top: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .c2_caption {
        h3 {
            color: #0052ff;
            font-size: 40px;
            font-weight: bold;
        }

        p {
            color: #000;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .c2_img {
        width: 192px;
        gap: 160px;
        margin: 0 200px 0 0;

        img {
            height: 400px;
        }
    }
}

//c2끝
#c3 {

    margin-top: 300px;
    position: relative;

    .c3_caption {
        h3 {
            color: #0052ff;
            font-size: 40px;
            font-weight: bold;
        }

        p {
            color: #000;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .c3_icon {
        margin-top: 100px;

        ul {
            display: flex;
            justify-content: space-between;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
        }

        img {
            width: 300px;
            height: 300px;
        }
    }
}

.c3_bgbox {
    margin-top: 50px;
    position: absolute;
    background-color: #0052ff;
    width: 100%;
    height: 400px;
    opacity: 0.5;
    z-index: -1;
    left: 0;
    transform: translateY(-100%);
}

.c3_endcaption {
    margin-top: 77px;
    font-weight: bold;
    font-size: 20px;
    color: #8e9aaf;
    text-align: center;
}

//c3 끝




#c4 {

    margin-top: 400px;
    position: relative;
    flex-direction: column;
    text-align: center;
    height: fit-content;

    svg {
        width: 300px;
    }

    .cls-1 {
        fill: none;
        stroke: #8e9aaf;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 20.7px;
    }

    .finger_1 {
        width: 100%;
        opacity: 0.5;
    }

    .finger_2 {
        position: absolute;
        width: 100%;
        top: 0;
        opacity: 0.5;

        .cls-1 {
            stroke: #0052ff;
        }
    }


    span {
        position: relative;
        color: #0052ff;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }

    .f_caption {
        position: absolute;
        z-index: 1;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        height: 100%;
        top: 0;
        align-content: center;
    }
}



//c4 끝

#c5 {
    margin-top: 400px;

    .c5_caption {
        h3 {
            color: #0052ff;
            font-size: 40px;
            font-weight: bold;
        }

        p {
            font-weight: bold;
            font-size: 20px;
        }
    }

    .c5_icon {
        margin-top: 50px;

        ul {
            display: flex;
            justify-content: space-between;
        }

        li {
            box-shadow: 0 10px 0px #000;
        }

        img {
            width: 320px;
            height: 320px;
        }
    }
}

//c5 끝

footer {
    margin-top: 200px;
    background: #8e9aaf;
    width: 100%;
    height: 250px;
}

footer .inner {
    height: 100%;
    margin: 0 auto;
}

.ft_inner {
    height: 100%;
    display: flex;
    align-items: center;
}

.ft_inner p {
    margin: 0;
}